@import "reset.css";
@import "mixin.scss";

.body__wrapper {
    margin: 0 5%;
}

body {
    margin: 0 auto;
}

.header__main {
    background-image: url("../images/intro320.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    margin-bottom: 56px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 83px;
    background-color: white;
    position: relative;
}

.posts__header {
    font-size: 14px;
    font-weight: 700;
    font-family: roboto;
    text-transform: uppercase;
}

.insta__header {
    font-size: 14px;
    font-weight: 700;
    font-family: roboto;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.insta__welcome {
    font-size: 14px;
    font-weight: 700;
    font-family: roboto;
    text-transform: uppercase;
    display: none;
}

.footer__header {
    font-size: 14px;
    font-weight: 700;
    font-family: roboto;
    text-transform: uppercase;
}

.hide {
    display: none;
}

.hideLast {
    display: none;
}

.insta__img {
    width: 100%;
    height: 100%;
    margin-top: 13px;
    margin-right: 9px;
}

.insta__img-wrapper {
    display: flex;
    padding-bottom: 42px;
}


.nav__btnMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    background-color: black;
    padding: 6px 4px 1px 11px;
    width: 33px;
    height: 34px;
}

;

.nav__longStick {
    @include menuNav(14px);
    margin-left: 4px;

}

;

.nav__cross {
    width: 44px;
    height: 37px;
    position: relative;
    display: none;
    background-color: black;
    padding: 2px;
    cursor: pointer;

    .nav__cross-upandown {

        transform: translateY(70%) translateX(80%);
    }

    .nav__cross-apandown {
        transform: translateY(70%) translateX(-50%);
    }

    ;
}

;

.nav__menu {
    background-color: #F5F5F5;
    width: 150px;
    margin: 0 auto;
    position: absolute;
    display: none;
    bottom: 0;
    right: -75px;
    transform: translate(-50%, 90%);
}

.nav__item {
    position: relative;
    @include text (Montserrat, 14px, 400, #4E4E4E);
    @include navMobileMenu;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
        color: #57A4A4;
        background-color: #E5E5E5;
    }
}

;

.post {
    display: flex;
    flex-direction: column;
    margin-top: 38px;
}

;

.post__img {
    width: 160px;
    height: 140px;
}

;


.post__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 11px;
}

;

.post__coment {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #7C7C7C;

}

.post__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    display: none;
}

.post_extra {
    display: none;
}

.openMenu {
    .nav__menu {
        display: block;
    }

    ;

    .nav__cross {
        display: block;
    }

    ;

    .nav__btnMenu {
        display: none;
    }

    ;
}

.insta {
    margin-top: 47px;
    padding-top: 47px;
    margin: 0 5%;
}

.footer {
    background-color: black;
}

.footer__header {
    color: #FEFEFE;
    display: flex;
    justify-content: center;
    font-size: 14px;
    line-height: 22px;
    margin-top: 38px;
    margin-bottom: 8px;
}

.footer__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
}

.footer__text {
    color: #B9B9B9;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    line-height: 142%;
}

.social__wrapper {
    display: flex;
    width: 170px;
    margin: 25px auto;
}

.social {
    margin-right: 6px;
}

.contacts {
    color: #B9B9B9;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    padding-bottom: 47px;
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width: 768px) {
    .header__main {
        background-image: url("../images/intro768.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 361px;
    }

    ;

    .nav__item {
        color: #4E4E4E;
        border-bottom: none;

        &:hover {
            background-color: white;
        }
    }

    ;

    .post {
        flex-direction: row;
    }

    ;

    .insta__welcome {
        display: block;
    }

    .nav__btnMenu {
        display: none;
    }

    .nav__cross {
        display: none;
    }

    .nav__menu {
        display: flex;
        @include text(Montserrat, 11px, 400, #4E4E4E);
        width: 100%;
        height: 33px;
        background-color: white;
        left: 0;
        transform: none;
        margin-bottom: 20px;
    }

    ;

    .nav__menu {
        padding-bottom: 0;
        right: 50%
    }

    ;

    .post__text {
        display: block;
    }

    .post_extra {
        display: flex;
    }

    .post__content-wrapper {
        margin-left: 21px;
        margin-right: 21px;
    }

    .hide {
        display: block;
    }

    .insta__img {
        width: 40%;
        height: auto;
        margin-top: 35px;

    }

    .insta-wrapper {
        margin: 0 5%;

    }

    .insta {
        background-color: #F7F7F7;
        padding-top: 47px;
        margin: 47px 0 0 0;
    }
}


@media (min-width: 1200px) {
    .header__main {
        background-image: url("../images/intro1200.png");
        background-repeat: no-repeat;
        background-size: 100%
    }

    .nav__menu-buy-wrapper {
        display: flex;
        align-items: center;
    }

    .post {
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        max-width: 50%;
    }

    .posts__wrapper {
        height: 405px;
        display: flex;
        flex-direction: column;
        flex-flow: column wrap;
    }

    .post__title {
        margin-top: 0px;
    }

    .hideLast {
        display: block;
    }

    .insta__img {
        margin-top: 24px;
    }
}