@mixin menuNav ($width) {
    height: 2px;
    width: $width;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 3px;
    }; 

@mixin text ($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
    text-align: center;
};

@mixin navMobileMenu {
    text-align: left;
    padding-left: 12px;
    line-height: 29px;    
    border-bottom: 3px solid #F5F5F5;
    margin: 0 auto;
}
